* {
  margin: 0;
  padding: 0;
  list-style: none; }

html, body {
  width: 100%;
  position: relative; }

.top {
  width: auto;
  margin: 0 16px;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0;
  box-sizing: border-box; }
  .top span {
    font-size: 45px;
    color: #999;
    display: flex;
    flex-direction: column;
    text-align: center; }

.black {
  width: 100%;
  height: 1.05rem;
  background: #202020; }

.tu {
  width: 100%;
  height: 4.53rem; }
  .tu img {
    width: 100%;
    height: 100%; }

.bck {
  width: 100%;
  height: 4.2rem;
  display: flex;
  background: #202020;
  position: relative;
  flex-wrap: wrap; }
  .bck .yuan {
    width: 100%;
    height: 0.05rem;
    background: #38ca94;
    position: relative;
    position: absolute;
    top: 0.65rem;
    display: flex; }
    .bck .yuan div {
      width: 0.45rem;
      height: 0.45rem;
      border: 2px solid #38ca94;
      border-radius: 50%;
      margin-top: -0.2rem; }
  .bck .navzi {
    width: 100%;
    font-size: 28px;
    color: #38ca94;
    display: flex;
    margin-top: 1.15rem; }
    .bck .navzi li {
      width: 20%;
      text-align: center;
      display: flex;
      font-size: 28px; }
  .bck .lizi {
    width: auto;
    margin: 0 16px; }
    .bck .lizi p {
      font-size: 36px;
      color: white; }

.kong {
  width: 100%;
  height: 0.17rem;
  background: #eee;
  margin: 0.36rem 0; }

.wrap {
  width: auto;
  margin: 0 16px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.48rem;
  text-align: center; }
  .wrap li {
    width: 33.3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    padding: 0.16rem;
    box-sizing: border-box; }
    .wrap li img {
      width: 1rem;
      height: 1rem;
      margin-left: 0.56rem; }
    .wrap li p {
      font-size: 28px;
      color: #000;
      margin-top: 0.2rem; }
    .wrap li span {
      font-size: 24px;
      color: #666;
      margin-top: 0.1rem; }

.zi {
  width: auto;
  margin: 0 16px;
  margin-bottom: 0.36rem;
  margin: 0 auto;
  position: relative; }
  .zi p {
    font-size: 0.26rem;
    color: #333;
    margin-top: 0.36rem;
    margin-left: 0.2rem; }
  .zi p:first-child {
    text-indent: 0.55rem; }
  .zi .yuan {
    width: 0.9rem;
    height: 0.9rem;
    border: 1px solid #dedede;
    border-radius: 0.5rem;
    position: absolute;
    top: 2.35rem;
    right: 0.17rem;
    text-align: center; }
    .zi .yuan span {
      font-size: 0.4rem;
      color: #9c9c9c;
      position: absolute;
      bottom: 0.22rem;
      left: 0.25rem; }

.rexian {
  width: auto;
  margin: 0 16px;
  display: flex;
  margin: 0 auto; }
  .rexian p {
    font-size: 0.28rem;
    color: #333; }
    .rexian p span {
      margin-left: 1.7rem;
      color: #39c893; }

.dao {
  width: auto;
  margin: 0 16px;
  margin: 0 auto;
  margin-top: 0.35rem;
  display: flex; }
  .dao li {
    width: 25%;
    text-align: center;
    font-size: 0.28rem;
    color: #333;
    border-right: 1px solid #eee; }

.bottom {
  width: 100%;
  text-align: center;
  padding: 0.3rem 0;
  box-sizing: border-box;
  border-top: 1px solid #eee; }
  .bottom p {
    font-size: 21px;
    color: #eee; }

.ditu {
  width: 100%;
  height: 0.38rem;
  display: flex; }
  .ditu img {
    width: 100%;
    height: 100%; }

.ding {
  width: 100%;
  height: 1rem;
  background: #ff4351;
  opacity: 0.8;
  position: absolute;
  display: flex;
  bottom: 0.4rem; }
  .ding span {
    font-size: 56px;
    color: white;
    margin-left: 2.33rem;
    margin-top: 0.25rem; }
  .ding p {
    font-size: 36px;
    color: white;
    margin-left: 0.22rem;
    margin-top: 0.25rem; }

/*# sourceMappingURL=pink.css.map */
