@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}

html,body{

    width: 100%;
}
.top{
    width: 100%;
    display: flex;
    img{
        width: 2.16rem;
        height: 0.72rem;
        padding: 0.16rem 0;
        margin-left: 0.18rem;
    }
    .zi{
     font-size: 32px;
     color: #000;
     margin-left: 0.93rem;
     margin-top: 0.37rem;
    }
    div{
        display: flex;
        position: absolute;
        right: 0.18rem;
        margin-top: 0.15rem;
        span{
            display: flex;
            flex-direction: column;
            height: 0.45rem;
            padding: 0 0.17rem;
            position: relative;
            p{
                font-size: 0.22rem;
                color: #999;
                position: absolute;
                top: 0.4rem;
            }
            
        }
        .icon_b{
            position: absolute;
            right: 0.4rem;
        }
    }
}
.list{
    width: 100%;
    display: flex;
    height: 1rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    li{
        width: 25%;
        text-align: center;
        font-size: 36px;
        margin-top: 0.3rem;
        span{
            font-size: 30px;
            color: #999;
            margin-left: 0.27rem;
        }
        
    }
}
.kong{
    width: 100%;
    height: 0.16rem;
    background: #eee;
}
.box{
    width: auto;
    margin: 0 16px;
    display: flex;
    border-bottom: 1px solid #999;
    img{
        width: 1.6rem;
        height: 1.6rem;
        margin-top: 0.36rem;
    }
    .sbox{
        width: 75%;
        height: 2.28rem;
        display: flex;
        flex-direction: column;
        margin-top: 0.36rem;
        .yihang{
            display: flex;
            justify-content: space-between;
            p{
                font-size: 36px;
                color: #000;
            }
            span{
                display: inline-block;
                width: 0.6rem;
                height: 0.3rem;
                background: #3ac893;
                text-align: center;
                font-size: 24px;
                color: #fff;
                margin-left: 0.22rem;
            }
        }
        .erhang{
            display: flex;
            margin-top: 0.28rem;
            p{
                font-size: 28px;
                color: #000;
                margin-left: 0.22rem;
            }
            span{
                font-size: 28px;
                color: #999;
            }
        }
        .sanhang{
            display: flex;
            margin-top: 0.2rem;
            p{
                font-size: 28px;
                color: #000;
                margin-left: 0.22rem;
            }
            span{
                font-size: 28px;
                color: #999;
            }
        }
    }
}
.fan{
    width: auto;
    margin: 0 16px;
    display: flex;
    padding: 0.36rem 0;
    box-sizing: border-box;
    button{
        width: 2.35rem;
        height: 0.82rem;
        background: #39c893;
        text-align: center;
        line-height: 0.82rem;
        color: white;
        font-size: 36px;
    }
    div{
        width: 2.35rem;
        height: 0.82rem;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        text-align: center;
        line-height: 0.82rem;
        color: #000;
        font-size: 36px;
    }
}
.zi{
   width:auto;
    margin: 0 16px;
    margin-bottom: 0.36rem;
    margin: 0 auto;
   position: relative;
    p{
        
        font-size: 0.28rem;
        color: #333;
        margin-top: 0.36rem;
    }
   
    p:first-child{
        text-indent: 0.55rem;
    }
    .yuan{
        width: 0.9rem;
        height: 0.9rem;
        border: 1px solid #dedede;
        border-radius: 0.5rem;
        position: absolute;
        top: 2.35rem;
        right: 0.17rem;
        text-align: center;
        span{
            font-size: 0.4rem;
            color: #9c9c9c;
            position: absolute;
            bottom: 0.22rem;
            left: 0.25rem;
        }
}

}
.rexian{
    width:auto;
    margin: 0 16px;
    display: flex;
    margin: 0 auto;
    p{
        font-size: 0.28rem;
        color: #333;
        margin-top: 0.7rem;
        span{
            margin-left: 1.7rem;
            color: #39c893;
        }
    }
}
.dao{
   width:auto;
    margin: 0 16px;
   margin: 0 auto;
   margin-top: 0.35rem;
   display: flex;
   li{
       width: 25%;
       text-align: center;
       font-size: 0.28rem;
       color: #333;
       border: 1px solid #60d4a8;
   }
}
.div{
    width: 100%;
    height: 1.06rem;
    background: #333;
    display: flex;
    position: relative;
    .div_a{
        width: 0.5rem;
        height: 0.5rem;
    }
    .div_b{
        width: 4.2rem;
        height: 0.9rem;
    }
    span{
        display: inline-block;
        width: 1.75rem;
        height: 0.5rem;
        background: #feb605;
        font-size: 0.23rem;
        color: white;
        position: absolute;
        top: 0.25rem;
        right: 0.37rem;
        text-align: center;
        line-height: 0.5rem;
        border-radius: 0.7rem;
    }
}
.last{
    width: 100%;
    height: 0.78rem;
    display: flex;
    img{
        width: 100%;
        height: 100%;
    }
}