@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body,html{
    width: 100%;
}
.top{
    width: 100%;
    display: flex;
    padding: 0.15rem 0;
    box-sizing: border-box;
    img{
        width: 2.16rem;
        height: 0.72rem;
        padding: 0.16rem 0;
        margin-left: 0.18rem;
    }
    .zi{
     font-size: 30px;
     color: #000;
     margin-left: 0.93rem;
     margin-top: 0.37rem;
    }
    div{
        display: flex;
        position: absolute;
        right: 0.18rem;
        margin-top: 0.15rem;
        span{
            display: flex;
            flex-direction: column;
            height: 0.45rem;
            padding: 0 0.17rem;
            position: relative;
            p{
                font-size: 0.22rem;
                color: #999;
                position: absolute;
                top: 0.4rem;
            }
            
        }
        .icon_b{
            position: absolute;
            right: 0.4rem;
        }
    }
}
.box{
    width: auto;
    display: flex;
    margin: 0 16px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.37rem;
    .boxtu{
        width: 25%;
        img{
            width: 1.6rem;
            height: 1.6rem;
            
        }
    }
    
    .sbox{
        display: flex;
        width: 75%;
        height: 2.46rem;
        flex-direction: column;
        .chen{
            font-size: 30px;
            color: #000;
            display: flex;
            span{
                display: inline-block;
                border-radius: 0.1rem;
                display: flex;
                width: 0.6rem;
                height: 0.3rem;
                text-align: center;
                background: #3ac994;
                font-size: 0.2rem;
                color: white;
                line-height: 0.3rem;
                margin-left: 0.2rem;
                margin-top: 0.05rem;
            }
        }
        p{
            font-size: 0.25rem;
            color: #000;
        }
        span{
            font-size: 0.25rem;
            color: #eee;
            display: flex;
        }
    }
    .list{
        display: flex;
        margin-left: 1.22rem;
        margin-top: 0.6rem;
        div{
            li{
                width: 1rem;
                height: 1rem;
                border: 2px solid #fe8c65;
                border-radius: 50%;
                position: relative;
                span{
                    position: absolute;
                    font-size: 0.6rem;
                    top: 0.2rem;
                   left: 0.2rem;
                }
                
            }
            p{
                    font-size: 0.25rem;
                }
        }
        
        
    }
}
.zi_a{
    width: auto;
    margin: 0 16px;
    margin-top: 0.6rem;
    p{
        font-size: 0.27rem;
        color: #D7D7D7;
        span{
            font-size: 0.27rem;
            color: #000;
        }
    }
}
.kong{
    width: 100%;
    height: 0.16rem;
    background: #eee;
    margin: 0.36rem 0;
}
.wrap{
    width: auto;
    margin: 0 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #f4f4f4;
    margin-top: 0.4rem;
    div{
        display: flex;
        flex-direction: column;
        width: 50%;
        img{
            width: 3.5rem;
            height: 2.35rem;
        }
        p{
            font-size: 0.36rem;
            color: #000;
            margin-top: 0.25rem;
        }
        span{
            font-size: 0.2rem;
            color: #999;
            margin-top: 0.2rem;
        }
    }
    

}
.list_ab{
    width: auto;
    margin: 0 16px;
    display: flex;
    box-sizing: border-box;
    position: relative;
    padding: 0.2rem 0;
    img{
        width: 0.05rem;
        height: 0.42rem;
        position: absolute;
        left: 0.18rem;
    }
    p{
        font-size: 0.36rem;
        color: #000;
        position: absolute;
        left: 0.35rem;
    }
}
.zi{
    width: 7.16rem;
    margin-bottom: 0.36rem;
    margin: 0 auto;
   position: relative;
    p{
        
        font-size: 0.28rem;
        color: #333;
        margin-top: 0.36rem;
    }
   
    p:first-child{
        text-indent: 0.55rem;
    }
    .yuan{
        width: 0.9rem;
        height: 0.9rem;
        border: 1px solid #dedede;
        border-radius: 0.5rem;
        position: absolute;
        top: 2.35rem;
        right: 0.17rem;
        text-align: center;
        span{
            font-size: 0.4rem;
            color: #9c9c9c;
            position: absolute;
            bottom: 0.22rem;
            left: 0.25rem;
        }
}

}
.rexian{
    width: 7.16rem;
    display: flex;
    margin: 0 auto;
    p{
        font-size: 0.28rem;
        color: #333;
        margin-top: 0.7rem;
        span{
            margin-left: 1.7rem;
            color: #39c893;
        }
    }
}
.dao{
   width: 7.16rem;
   margin: 0 auto;
   margin-top: 0.35rem;
   display: flex;
   li{
       width: 25%;
       text-align: center;
       font-size: 0.28rem;
       color: #333;
       border-right: 1px solid #eee;
   }
}
.bottom{
    width: 100%;
    text-align: center;
    padding: 0.3rem 0;
    box-sizing: border-box;
    border-top: 1px solid #eee;
    p{
        font-size: 21px;
        color: #eee;
    }
}
.ditu{
    width: 100%;
    height: 0.38rem;
    display: flex;
    img{
        width: 100%;
        height: 100%;
    }
}