* {
  margin: 0;
  padding: 0;
  list-style: none; }

html, body {
  width: 100%; }

.top {
  width: 100%;
  display: flex; }
  .top img {
    width: 2.16rem;
    height: 0.72rem;
    padding: 0.16rem 0;
    margin-left: 0.18rem; }
  .top .zi {
    font-size: 0.33rem;
    color: #000;
    margin-left: 0.93rem;
    margin-top: 0.37rem; }
  .top div {
    display: flex;
    position: absolute;
    right: 0.18rem;
    margin-top: 0.15rem; }
    .top div span {
      display: flex;
      flex-direction: column;
      height: 0.45rem;
      padding: 0 0.17rem;
      position: relative; }
      .top div span p {
        font-size: 0.22rem;
        color: #999;
        position: absolute;
        top: 0.4rem; }
    .top div .icon_b {
      position: absolute;
      right: 0.4rem; }

.tu {
  width: 100%;
  height: 4.25rem; }
  .tu img {
    width: 100%;
    height: 100%; }

.list {
  width: auto;
  margin: 0 16px;
  display: flex;
  margin-bottom: 0.45rem; }
  .list div {
    text-align: center;
    width: 50%;
    margin-top: 0.36rem; }
    .list div li {
      width: 1.18rem;
      height: 1.18rem;
      background: #39c893;
      border-radius: 50%;
      margin-left: 1.1rem;
      position: relative; }
      .list div li span {
        font-size: 70px;
        color: white;
        position: absolute;
        top: 0.3rem;
        left: 0.3rem; }
    .list div p {
      font-size: 0.28rem;
      color: #333;
      margin-top: 0.32rem; }

.gray {
  width: 100%;
  height: 3.84rem;
  background: #eee; }
  .gray img {
    width: 2.67rem;
    height: 2.67rem;
    text-align: center;
    margin-left: 2.43rem;
    margin-top: 0.25rem; }
  .gray p {
    font-size: 0.25rem;
    margin-top: 0.25rem;
    margin-left: 1.93rem; }

.zi {
  width: auto;
  margin: 0 16px;
  margin-bottom: 0.36rem;
  margin: 0 auto;
  position: relative; }
  .zi p {
    font-size: 28px;
    color: #333;
    margin-top: 0.36rem;
    margin-left: 1rem; }
  .zi p:first-child {
    text-indent: 0.55rem; }
  .zi .yuan {
    width: 0.9rem;
    height: 0.9rem;
    border: 1px solid #dedede;
    border-radius: 0.5rem;
    position: absolute;
    top: 2.35rem;
    right: 0.17rem;
    text-align: center; }
    .zi .yuan span {
      font-size: 0.4rem;
      color: #9c9c9c;
      position: absolute;
      bottom: 0.22rem;
      left: 0.25rem; }

.rexian {
  width: auto;
  margin: 0 16px;
  display: flex;
  margin: 0 auto; }
  .rexian p {
    font-size: 0.28rem;
    color: #333;
    margin-top: 0.7rem; }
    .rexian p span {
      margin-left: 1.7rem;
      color: #39c893; }

.dao {
  width: 100%;
  margin: 0 auto;
  margin-top: 0.35rem;
  display: flex; }
  .dao li {
    width: 25%;
    text-align: center;
    font-size: 0.28rem;
    color: #333;
    border-right: 1px solid #eee; }

.bottom {
  width: 100%;
  text-align: center;
  padding: 0.3rem 0;
  box-sizing: border-box;
  border-top: 1px solid #eee; }
  .bottom p {
    font-size: 21px;
    color: #eee; }

.ditu {
  width: 100%;
  height: 0.38rem;
  display: flex; }
  .ditu img {
    width: 100%;
    height: 100%; }

/*# sourceMappingURL=mape.css.map */
